init_daemon_domain(ssr_setup);
type ssr_setup_exec, exec_type, vendor_file_type, file_type;
type ssr_setup, domain;

allow ssr_setup sysfs_msm_subsys:dir r_dir_perms;
allow ssr_setup sysfs_msm_subsys:lnk_file rw_file_perms;
allow ssr_setup sysfs_msm_subsys_toggle:file rw_file_perms;
